@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family:
    'Space Mono',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

body {
  min-height: 100vh;
}

::-webkit-scrollbar {
  @apply w-1.5;
}

::-webkit-scrollbar-track {
  @apply bg-gray-200;
  @apply dark:bg-neutral-700;
  @apply rounded-md;
  @apply transition-colors;
}

::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
  @apply bg-neutral-700;
  @apply dark:bg-gray-400;
  @apply rounded-md;
  @apply transition-colors;
}
