@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
  font-family: 'Space Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  --default-padding: 2.5rem;
  --default-grid-gap: 0.5rem;
}
body {
  --color-text-main: #4d4d4d;
  --color-background-main: #ffffff;
  --color-primary: #e58b88;
  --color-secondary: #9dabdd;
  --color-tertiary: #70ae98;
  --color-quaternary: #ecbe7a;
}

body.dark {
  --color-text-main: #ffffff;
  --color-background-main: #4d4d4d;
}

@media (prefers-color-scheme: dark) {
  body {
    --color-text-main: #ffffff;
    --color-background-main: #4d4d4d;
  }
  body.light {
    --color-text-main: #4d4d4d;
    --color-background-main: #ffffff;
  }
}

body {
  background: var(--color-background-main);
  transition: background 0.5s ease;
}

h1,p {
  color: var(--color-text-main);
  transition: color 0.5s ease;
}
